In [1]:
import numpy as np
import pandas as pd

In [32]:
d = {'slice': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'], 'cluster': [3, 1, 1, 2, 3, 3, 1, 2, 1]}

In [33]:
s = pd.DataFrame.from_dict(d)
s

  slice  cluster
0     a        3
1     b        1
2     c        1
3     d        2
4     e        3
5     f        3
6     g        1
7     h        2
8     i        1

In [65]:
s.pivot_table(index='slice', columns='slice', fill_value=0, aggfunc=l)

      cluster
slice       a  b  c  d  e  f  g  h  i
slice
a           3  0  0  0  0  0  0  0  0
b           0  1  0  0  0  0  0  0  0
c           0  0  1  0  0  0  0  0  0
d           0  0  0  2  0  0  0  0  0
e           0  0  0  0  3  0  0  0  0
f           0  0  0  0  0  3  0  0  0
g           0  0  0  0  0  0  1  0  0
h           0  0  0  0  0  0  0  2  0
i           0  0  0  0  0  0  0  0  1

In [63]:
def l(x):
    print(x)
    x.iloc[0]