In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import numpy as np
from importHelpers.response import *
from mlxtend.preprocessing import minmax_scaling
from mpl_toolkits.mplot3d import Axes3D
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

In [2]:
xls = pd.ExcelFile(r'data\\191126P2_ROIAnnotationSummary_200218.xlsx')
df = pd.read_excel(xls, 'Annotation_Summary')

In [3]:
df

,Flash,ROI,2P ROI,total ROI,C1:RBPMS,C2: Syt10,C3:Syt6,C4:CAVIII,C5:MEIS,C7:Parv,...,Satb2,MEIS,CalR,total,ROI color,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,Flash_40,1,50,1,1,0,0,1,0,1,...,NaN,NaN,NaN,GC///C8+/////,#ffff66,NaN,NaN,NaN,NaN,NaN
1,Flash_40,2,6,2,1,0,0,0,0,1,...,NaN,NaN,NaN,GC////////,#ff66d9,NaN,Lookup Table,color,count,NaN
2,Flash_40,3,4,3,1,0,0,0,0,1,...,NaN,NaN,NaN,GC////////,#ff66d9,NaN,AC//Syt6+////MEIS+//,#ff6666,73,light red
3,Flash_40,4,53,4,1,0,0,1,0,1,...,NaN,NaN,NaN,GC///C8+/////,#ffff66,NaN,AC//////MEIS+//,#66ff66,108,light green
4,Flash_40,5,54,5,1,0,0,1,0,1,...,NaN,NaN,NaN,GC///C8+/////,#ffff66,NaN,AC//Syt6+//ChAT+////,#b366ff,81,purple
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1511,Flash_68,179,NaN,1513,0,0,0,0,0,0,...,NaN,NaN,NaN,AC////////,#66b3ff,NaN,NaN,NaN,NaN,NaN
1512,Flash_68,180,NaN,1514,0,0,0,0,0,0,...,NaN,NaN,NaN,AC////////,#66b3ff,NaN,NaN,NaN,NaN,NaN
1513,Flash_68,181,NaN,1515,0,0,0,0,0,0,...,NaN,NaN,NaN,AC////////,#66b3ff,NaN,NaN,NaN,NaN,NaN
1514,Flash_68,182,NaN,1516,1,0,0,0,0,1,...,NaN,NaN,NaN,GC////////,#ff66d9,NaN,NaN,NaN,NaN,NaN
1515,Flash_68,183,NaN,1517,1,0,0,0,0,0,...,NaN,NaN,NaN,GC////////,#ff66d9,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df[['Flash', '2P ROI', 'RBPMS', 'Syt10+', 'Syt6+', 'CAVIII', 'ChAT', 'Satb2', 'MEIS', 'CalR']]
df = df.dropna(axis = 0, subset = ["2P ROI"])
df = df[df['2P ROI'].apply(lambda x: str(x).isdigit())]
df = df.astype({"2P ROI": int})
#df = df.sort_values(by='2P ROI')
for col in ['Syt10+', 'Syt6+', 'CAVIII', 'ChAT', 'Satb2', 'MEIS', 'CalR']:
    df[col] = df[col].apply(lambda x: int(not pd.isna(x)))

In [5]:
df

         Flash  2P ROI RBPMS  Syt10+  Syt6+  CAVIII  ChAT  Satb2  MEIS  CalR
0     Flash_40      50    GC       0      0       1     0      0     0     0
1     Flash_40       6    GC       0      0       0     0      0     0     0
2     Flash_40       4    GC       0      0       0     0      0     0     0
3     Flash_40      53    GC       0      0       1     0      0     0     0
4     Flash_40      54    GC       0      0       1     0      0     0     0
...        ...     ...   ...     ...    ...     ...   ...    ...   ...   ...
1412  Flash_68      17    GC       0      0       1     0      0     0     0
1432  Flash_68      55    GC       0      0       1     0      0     0     0
1433  Flash_68      97    GC       0      0       1     0      0     0     0
1458  Flash_68      63    GC       0      0       1     0      0     0     0
1476  Flash_68      12    AC       0      1       0     0      0     0     0

[607 rows x 10 columns]

In [64]:
l = list(df.T)
def uniquer(x):
    return "".join([str(i[l[x]]) for _, i in df.loc[[l[x]]].to_dict().items()][2:])
uniquer(92)

'GC0000000'

In [66]:
d = {}
c = 0
z = []
for i in range(df.shape[0]):
    u = uniquer(i)
    if u not in d.keys():
        d[u] = c
        c += 1
    z.append(d[u])

In [71]:
df.insert(10, "Class", z)

In [72]:
df

,Flash,2P ROI,RBPMS,Syt10+,Syt6+,CAVIII,ChAT,Satb2,MEIS,CalR,Class
0,Flash_40,50,GC,0,0,1,0,0,0,0,0
1,Flash_40,6,GC,0,0,0,0,0,0,0,1
2,Flash_40,4,GC,0,0,0,0,0,0,0,1
3,Flash_40,53,GC,0,0,1,0,0,0,0,0
4,Flash_40,54,GC,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1412,Flash_68,17,GC,0,0,1,0,0,0,0,0
1432,Flash_68,55,GC,0,0,1,0,0,0,0,0
1433,Flash_68,97,GC,0,0,1,0,0,0,0,0
1458,Flash_68,63,GC,0,0,1,0,0,0,0,0
1476,Flash_68,12,AC,0,1,0,0,0,0,0,5

In [76]:
def name_merge(x):
    p = [str(i[l[x]]) for _, i in df.loc[[l[x]]].to_dict().items()]
    return p[0] + '_wave_' + str(p[1])
name_merge(0)

'Flash_40_wave_50'

In [77]:
s = set()
for i in range(df.shape[0]):
    s.add(name_merge(i))

In [96]:
"Flash_46_wave_31" in s

True

###